.section-heading {
    display: flex;
    align-items: flex-end;
    width: 100%;
    position: absolute;
    left: 7.6rem;
    top: -1.6rem;
}
.home-heading {
    img {
        mix-blend-mode: screen;
    }
}
.home-sub-heading {
    color: white;
    font-size: 1.6rem;
    letter-spacing: 0.11rem;
    line-height: 1.4;
    margin-left: -6rem;
    transform: translateY(3.9rem);
    @apply font-light;
}

.cloud-1 {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 28%;
    animation: runTopBottom1 12s linear infinite;
}
@-webkit-keyframes runTopBottom1 {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 2%;
  }
  100% {
    bottom: 0;
  }
}
.cloud-2 {
    position: absolute;
    bottom: 6%;
    max-width: 39%;
    animation: runTopBottom2 10s linear infinite;
    
}
@-webkit-keyframes runTopBottom2 {
  0% {
    bottom: 6%;
  }
  50% {
    bottom: 4%;
  }
  100% {
    bottom: 6%;
  }
}
.cloud-3 {
    position: absolute;
    top: 16%;
    max-width: 33%;
animation: runTopBottom3 9s linear infinite;
    
}
@-webkit-keyframes runTopBottom3 {
  0% {
    top: 16%;
  }
  50% {
    top: 14%;
  }
  100% {
    top: 16%;
  }
}

.thuyen {
    position: absolute;
    max-width: 100%;
    top: 9%;
}