.highlights_container {
  @apply absolute top-[68%] left-[50%] translate-x-[-50%];
  @apply w-full;

  .line-with-dots {
    @apply absolute mt-[-1%];
  }
}

.highlights__grid {
  @apply relative z-[1];
  &.mobile {
    .image-circle {
      @apply hidden;
    }
  }
}

.highlight-card {
  @apply absolute;

  img {
    @apply w-full;
  }

  &:nth-child(1) {
    @apply left-[9%] md:left-[16.5%];
    @apply md:bottom-[-24rem];
    .heading {
      @apply md:max-w-[15rem];
    }
  }
  &:nth-child(2) {
    @apply left-[61%] md:left-[37%];
    @apply bottom-[1rem] md:bottom-[-21rem];
  }
  &:nth-child(3) {
    @apply left-[69%] md:left-[55%];
    @apply bottom-[-9rem] md:bottom-[-18rem];
  }
  &:nth-child(4) {
    @apply left-[60%] md:left-[73%];
    @apply bottom-0 md:bottom-[-15.7rem];
    @apply top-[12rem] md:top-auto;
  }

  &.active {
    &:nth-child(1) {
      @apply left-[9%];
    }
    &:nth-child(2) {
      @apply left-[30%];
    }
    &:nth-child(3) {
      @apply left-[48%];
    }
    &:nth-child(4) {
      @apply left-[65%];
    }

    .heading-active,
    .image-circle,
    .description {
      @apply block;
    }

    .description {
      @apply w-full;
    }

    .heading {
      @apply hidden;
    }
    .heading-active {
      @apply absolute w-full;
      @apply max-w-[14rem] md:max-w-[18rem];
      @apply bottom-[96%] md:bottom-[78%];
      @apply left-[1%] md:left-[26%];
      animation: fadeSlideIn 0.8s ease forwards;
    }
    .image-circle {
      @apply max-w-[56%] md:max-w-none w-full md:w-[25rem];
      @apply mt-[-12%] md:mt-[-4%];
      @apply opacity-[1];
      animation: zoomBounce 0.6s ease-out;
    }
  }

  &__wrap {
    @apply relative w-full;
    @apply flex flex-col;
  }

  .image-circle {
    @apply max-w-[56%] md:max-w-none w-full md:w-[18rem];
  }

  .heading-active,
  .description {
    @apply hidden w-0;
  }
  .image-circle {
    opacity: 0;
  }

  .heading {
    @apply max-w-[12rem] md:max-w-[16.67rem];
    @apply cursor-pointer;
    transition: all 0.3s ease;
  }

  .description {
    @apply absolute text-[#2e4f00] font-robotoCondensed font-regular;
    @apply leading-[1.1];
    @apply max-w-[19rem] md:max-w-none;
    @apply w-[34rem] bottom-[-7.3rem] md:bottom-auto;
    @apply top-auto md:top-[-10.2rem];
    @apply left-[-1rem] md:left-0;
    @apply text-[1rem] md:text-[1.22rem];
    @apply text-right md:text-left;
    animation: fadeSlideIn 0.8s ease forwards;
    br {
      @apply hidden md:block;
    }
  }
}

@keyframes zoomBounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
