@use "../base/mixin" as *;

.hero {
    @apply text-center absolute text-white;
    @apply flex flex-col items-center justify-center;
    @apply max-w-[50%] left-[50%] translate-x-[-50%];
    @apply top-[10.5%];
    img {
        @apply w-full;
    }
    .heading {
        @apply max-w-[12.1rem];
        @apply mb-[4.1rem];
    }
    .sub-heading {
        @apply max-w-[21.7rem] md:max-w-[31rem];
        @apply text-[1.4rem] md:text-[1.2rem];
        @apply mb-[3.55rem];
    }
    .text-bottom {
        @apply text-[1.2rem] md:text-[1.4rem];
        @apply mb-[5.5rem];
        p {
            @apply leading-[1.1] mb-[0.4rem];
            @apply font-thin;
        }
    }
    .text-noitudobenvung {
        @apply max-w-[42rem];
    }
    .icon-scroll {
        @apply hidden md:block;
        @apply max-w-[1.33rem] mt-[1rem];
        svg {
            @apply w-full h-auto;
            animation: bounceSvg 1.5s infinite ease;
        }
    }
}

/* Mũi tên nhảy lên xuống */
@keyframes bounceSvg {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.8rem);
    }
}
