<div class="contact--form">
    <form>
        <div class="form-item">
            <input
                aria-hidden="false"
                placeholder="Họ và tên"
                name="fullname"
                class="fullname"
                type="text"
            />
        </div>
        <div class="form-item">
            <select name="consultation">
                <option value="1">Chọn yêu cầu</option>
                <option value="2">Thông tin chính sách bán hàng</option>
                <option value="3">Tư vấn sản phẩm về sp 1PN, 2PN...</option>
                <option value="4">Các tiện ích của dự án</option>
                <option value="5">Thông tin tiến độ dự án</option>
                <option value="6">Thông tin pháp lý dự án</option>
                <option value="7">Khác</option>
            </select>
        </div>
        <div class="form-item">
            <input
                aria-hidden="false"
                placeholder="Số điện thoại"
                name="phone"
                class="phone"
                type="number"
            />
        </div>
        <div class="form-item">
            <input
                aria-hidden="false"
                placeholder="Email"
                name="email"
                class="email"
                type="email"
            />
        </div>
        <div class="form-item btn-and-note">
            <div class="contact--note">
                Để lại thông tin, nhận tư vấn chỉ tiết về tổ hợp nghỉ dưỡng mặt
                tiền
                <br />
                biển quốc tế & sở hữu lôu dài Vlasta - Sầm Sơn ngay!
            </div>
            <button class="submit btn" disabled="disabled" type="submit">
                Gửi
            </button>
        </div>
    </form>
</div>
