<!-- Cột hình ảnh -->
<div class="events__image">
    <div class="events__image-wrap">
        <img
            id=""
            src=""
            alt="Event Image"
            class="w-full h-auto eventImage"
        >
    </div>
</div>
<!-- Cột nội dung -->
<div class="events__content">
    <div class="events__wrap">
        <div class="events__active">
            <div class="events__item-time">
                <p class="events__item-month"></p>
                <p class="events__item-date"></p>
            </div>
            <h2 class="events__title">
                <img src="" alt="">
            </h2>
            <p class="events__description"></p>
        </div>
        <!-- Danh sách sự kiện -->
        <ul class="events__list eventList"></ul>
    </div>
    <!-- Dots chuyển slide -->
    <div class="events__dots paginationDots"></div>
</div>
