<div class="home-heading" data-aos="fade-down" data-aos-duration="200">
    <h1 class="heading-hidden">Đất tiên vịnh ngọc</h1>
    <img src="./images/home/text-bds-nghethuat.png" alt="Đất tiên vịnh ngọc">
    <h2>
        Quảng trường Trống Đồng và Nhà hát Đó, nơi quá khứ và hiện tại giao hoà,<br> 
        nơi những giá trị dân tộc được kể lại bằng ngôn ngữ đương đại.<br>
        Mỗi ngày là một lễ hội, mỗi khoảnh khắc là một khúc ca tự do.
    </h2>
</div>