<div class="video-tvc-wrapper">
    <div class="section-heading" data-aos="fade-up" data-aos-duration="1000">
        <div class="home-heading datienvinhngoc">
            <h1 class="heading-hidden">Đất tiên vịnh ngọc</h1>
            <img
                src="./images/home/text-dattienvinhngoc.png"
                alt="Đất tiên vịnh ngọc"
            />
        </div>
        <h2 class="home-sub-heading">
            Nép mình bên vịnh Nha Trang, <br />
            Có một miền đất “độc nhất vô nhị” lưng tựa núi Tiên, mặt nghênh vịnh
            Ngọc. <br />
            Nơi có những ngôi nhà ẩn mình giữa thiên nhiên, trong lành và đầy
            cảm hứng.
        </h2>
    </div>

    <div
        id="video-tvc"
        class="video-tvc"
        data-aos="fade-up"
        data-aos-duration="1000"
    >
        <iframe
            data-aos="fade-up"
            data-aos-duration="1000"
            id="video"
            src="//www.youtube.com/embed/iUIJqATQOH8?enablejsapi=1&html5=1&mute=1"
            frameborder="0"
            allowfullscreen=""
            data-gtm-yt-inspected-10="true"
            class="aos-init aos-animate"
            title='CaraWorld - Sự trỗi dậy diệu kỳ của "Viên kim cương 800 Cara"'
        ></iframe>
    </div>
    <figure class="chimbocau">
        <img src="./images/home/bocau.gif" alt="Đất tiên vịnh ngọc" />
    </figure>
    {# <video autoplay loop muted playsinline class="chimbocau" onloadeddata="console.log('Left video loaded')">
        <source src="./images/home/bocau.webm" type="video/webm">
    </video> #}
</div>
