<div class="thuyen">
    <img src="./images/thuyen.png" alt="thuyen">
</div>
<div class="line-with-dots" data-aos="fade-up" data-aos-duration="1000">
    <img class="desktop" src="./images/line-with-dots-animation.svg" alt="line with dots">
    <img class="mobile" src="./images/mb-line-with-4dots-animation.svg" alt="line with dots">
</div>
<div
    class="highlights__grid"
    data-aos="fade-up"
    data-aos-duration="1000"
    data-delay="1000"
>
    <div class="highlight-card active" data-index="0">
        <h2 class="description">
            Một không gian sống động từ mặt đất đến biển khơi
            <br>
            Muôn nẻo kết nối, thiên nhiên lay động 1
        </h2>
        <div class="highlight-card__wrap">
            <h1 class="heading-hidden">1Km</h1>
            <figure class="heading">
                <img src="./images/data/1km-title-active.png" alt="1Km">
            </figure>
            <figure class="heading-active">
                <img src="./images/data/1km-title.png" alt="1Km">
            </figure>
            <figure class="image-circle">
                <img src="./images/data/1km-image.png" alt="1Km">
            </figure>
        </div>
    </div>
    <div class="highlight-card" data-index="1">
        <h2 class="description">
            Một không gian sống động từ mặt đất đến biển khơi
            <br>
            Muôn nẻo kết nối, thiên nhiên lay động 2
        </h2>
        <div class="highlight-card__wrap">
            <h1 class="heading-hidden">1 Không gian</h1>
            <figure class="heading">
                <img src="./images/data/khong-gian-title.png" alt="1 Không gian">
            </figure>
            <figure class="heading-active">
                <img src="./images/data/khong-gian-title-active.png" alt="1 Không gian">
            </figure>
            <figure class="image-circle">
                <img src="./images/data/khong-gian-image.png" alt="1 Không gian">
            </figure>
        </div>
    </div>
    <div class="highlight-card" data-index="2">
        <h2 class="description">
            Một không gian sống động từ mặt đất đến biển khơi
            <br>
            Muôn nẻo kết nối, thiên nhiên lay động 3
        </h2>
        <div class="highlight-card__wrap">
            <h1 class="heading-hidden">1 Sắc màu</h1>
            <figure class="heading">
                <img src="./images/data/mau-sac-title.png" alt="1 Sắc màu">
            </figure>
            <figure class="heading-active">
                <img src="./images/data/mau-sac-title-active.png" alt="1 Sắc màu">
            </figure>
            <figure class="image-circle">
                <img src="./images/data/mau-sac-image.png" alt="1 Sắc màu">
            </figure>
        </div>
    </div>
    <div class="highlight-card" data-index="3">
        <h2 class="description">
            Một không gian sống động từ mặt đất đến biển khơi
            <br>
            Muôn nẻo kết nối, thiên nhiên lay động 4
        </h2>
        <div class="highlight-card__wrap">
            <h1 class="heading-hidden">1 điểm đến</h1>
            <figure class="heading">
                <img src="./images/data/diemden-title.png" alt="1 điểm đến">
            </figure>
            <figure class="heading-active">
                <img src="./images/data/diemden-title-active.png" alt="1 điểm đến">
            </figure>
            <figure class="image-circle">
                <img src="./images/data/diemden-image.png" alt="1 điểm đến">
            </figure>
        </div>
    </div>
</div>
<div class="nhay-du">
    <div data-aos="fade-up" data-aos-duration="1000" data-delay="2000">
        <img class="vang" src="./images/section2-du-vang.png" alt="du-vang">
    </div>
    <div data-aos="fade-up" data-aos-duration="1000" data-delay="2500">
        <img class="xanh" src="./images/section2-du-xanh.png" alt="du-xanh">
    </div>
</div>
