<div class="home-heading" data-aos="fade-down" data-aos-duration="200">
    <h1 class="heading-hidden">Đất tiên vịnh ngọc</h1>
    <img src="./images/home/text-ngoi-nha-biet-tho.png" alt="Đất tiên vịnh ngọc">
    <h2>
        Thiết kế “Lost in Nature”, bản hòa ca giữa miền xanh và biển cả. <br>
        Năm tầng cây xanh ôm trọn hiên nhà, <br>
        Gần 14.000m² mặt nước mát lành len lỏi khắp không gian, <br>
        Ba bãi tắm riêng tư như những ốc đảo giữa vịnh trời, <br>
        Nơi thiên nhiên trở thành một phần cuộc sống.
    </h2>
</div>