<div
    class="section-heading ngoinhabiettho"
    data-aos="fade-up"
    data-aos-duration="1000"
>
    <div class="home-heading">
        <h1 class="heading-hidden">Ngôi nhà biết thở</h1>
        <img
            src="./images/home/text-ngoi-nha-biet-tho.png"
            alt="Ngôi nhà biết thở"
        />
    </div>
    <h2 class="home-sub-heading">
        Năm tầng cây xanh ôm trọn hiên nhà, <br />
Gần 14.000m² mặt nước len lỏi khắp không gian, <br />
Ba bãi tắm riêng tư, trải rộng giữa vịnh trời. 
    </h2>

</div>
<div class="hand-wrap">
    <video
        autoplay
        loop
        muted
        playsinline
        class="hand-item video-hand-left hidden md:block"
        onloadeddata="console.log('Left video loaded')"
    >
        <source src="./images/home/tay-trai.webm" type="video/webm" />
        Your browser does not support the video tag.
    </video>
    <figure class="hand-item video-hand-left block md:hidden">
        <img src="./images/home/tay-trai.png" type="video/png" />
    </figure>
    <figure class="hand-item video-hand-right block md:hidden">
        <img src="./images/home/tay-phai.png" type="video/png" />
    </figure>
    <video
        autoplay
        loop
        muted
        playsinline
        class="video-hand-right hand-item hidden md:block"
        onloadeddata="console.log('Right video loaded')"
    >
        <source src="./images/home/tay-phai.webm" type="video/webm" />

        Your browser does not support the video tag.
    </video>
</div>


