<div class="reason">
    <div class="container">
        <!-- Slider -->
        <div class="reason__slider desktop" data-aos="fade-up" data-aos-duration="1500">
            <div class="reason__item">
                <img src="./images/data/7lydo_01.png" alt="Vị trí kim cương">
            </div>
            <div class="reason__item">
                <img src="./images/data/7lydo_02.png" alt="Vị trí kim cương">
            </div>
        </div>
        <div class="reason__slider mobile" data-aos="fade-up" data-aos-duration="1500">
            <div class="reason__item">
                <img src="./images/data/7-ly-do-mobile-1.png" alt="Vị trí kim cương">
            </div>
            <div class="reason__item">
                <img src="./images/data/7-ly-do-mobile-2.png" alt="Vị trí kim cương">
            </div>
            <div class="reason__item">
                <img src="./images/data/7-ly-do-mobile-3.png" alt="Vị trí kim cương">
            </div>
            <div class="reason__item">
                <img src="./images/data/7-ly-do-mobile-4.png" alt="Vị trí kim cương">
            </div>
        </div>
        <!-- Tiêu đề -->
        <div
            class="reason__wrapper"
            data-aos="fade-up"
            data-aos-duration="1500"
            data-delay="2000"
        >
            <div class="reason__title">
                <h2 class="heading-hidden">Vì sao chọn
                    <span>Vlasta Sầm Sơn</span>
                </h2>
                <img src="./images/data/section5-title.png" alt="Vì sao chọn Vlasta Sầm Sơn">
            </div>
            <div class="reason__arrows">
                <button class="reason__arrow reason__arrow--prev">
                    <img src="./images/section5-arrow-left.webp" alt="Vị trí kim cương">
                </button>
                <button class="reason__arrow reason__arrow--next">
                    <img src="./images/section5-arrow-right.webp" alt="Vị trí kim cương">
                </button>
            </div>
        </div>
    </div>
</div>
