
<div
    class="section-heading dothiquocte"
    data-aos="fade-down"
    data-aos-duration="200"
>
    <div class="home-heading">
        <h1 class="heading-hidden">Đô thị quốc tế 44ha</h1>
        <img
            src="./images/home/text-dothituocte.png"
            alt="Đô thị quốc tế 44ha"
        />
    </div>
    <h2 class="home-sub-heading">
        La Tiên Villa thừa hưởng trọn vẹn hệ sinh thái tiện ích quy hoạch đồng bộ, hoàn chỉnh lên đến 44ha. <br> Từ Quảng trường Trống Đồng – Nhà hát Đó mang đậm dấu ấn văn hóa dân tộc, đến chuỗi tiện ích lần đầu tiên xuất hiện tại Nha Trang: Dốc hoa, Nhà ánh sáng, Healing Center, Sport Complex.<br>Một thành phố của những tâm hồn tự do, giàu có: Giàu văn hoá – Giàu nghệ thuật – Giàu trải nghiệm.
    </h2>
</div>
