
<div
    class="section-heading vanhoanghethuat"
    data-aos="fade-down"
    data-aos-duration="1000"
>
    <div class="home-heading">
        <h1 class="heading-hidden">Bất động sản nghệ thuật văn hoá</h1>
        <img
            src="./images/home/text-bds-nghethuat.png"
            alt="Bất động sản nghệ thuật văn hoá"
        />
    </div>
    <h2 class="home-sub-heading">
        Quảng trường Trống Đồng và Nhà hát Đó, nơi quá khứ và hiện tại giao hoà, <br /> nơi những giá trị dân tộc được kể lại bằng ngôn ngữ đương đại <br />.Mỗi ngày là một lễ hội, mỗi khoảnh khắc là một khúc ca tự do.
    </h2>
</div>
<img
class="conchim"
    src="./images/home/conchim.gif"
    alt="Bất động sản nghệ thuật văn hoá"
/>