<div class="hero">
    <div class="heading" data-aos="fade-up" data-aos-duration="400">
        <h1 class="heading-hidden">Đất tiên vịnh ngọc</h1>
        <img src="./images/home/logo-white.png" alt="Đất tiên vịnh ngọc">
    </div>
   
    <div class="sub-heading" data-aos="fade-up" data-aos-duration="600">
        <h1 class="heading-hidden">Đất tiên vịnh ngọc</h1>
        <img src="./images/home/text-dattienvinhngoc-top.png" alt="Đất tiên vịnh ngọc">
    </div>

    <div class="text-bottom" data-aos="fade-up" data-aos-duration="800">
        <p>
            Bạn có từng mơ <br />
            Nơi đất Tiên giao hoà vịnh Ngọc<br />
            Những ngôi nhà thở nhịp thiên nhiên
        </p>
        <p class="my-3">
            Nghe rừng thủ thỉ<br />Nghe biển thầm thì
        </p>
        <p>
            Đủ sôi động để sống đời rực rỡ <br />Đủ
            yên bình để sống trọn riêng tư
        </p>
    </div>

    <div class="text-noitudobenvung" data-aos="fade-up" data-aos-duration="1000">
        <h1 class="heading-hidden">Nơi tự do bền vững, được xây bằng những ký ức khó phai</h1>
        <img src="./images/home/text-noi-tu-do.png" alt="Nơi tự do bền vững, được xây bằng những ký ức khó phai">
    </div>
</div>
