<div
    class="section-heading benduthuyen"
    data-aos="fade-up"
    data-aos-duration="1000"
>
    <div class="home-heading">
        <h1 class="heading-hidden">Bất động sản hạng sang - bến du thuyền</h1>
        <img
            src="./images/home/text-bds-duthuyen.png"
            alt="Bất động sản hạng sang - bến du thuyền"
        />
    </div>
    <h2 class="home-sub-heading">
        Thiết kế “Lost in Nature”, bản hòa ca giữa miền xanh và biển cả.
        <br />
        Năm tầng cây xanh ôm trọn hiên nhà, <br />
        Gần 14.000m² mặt nước mát lành len lỏi khắp không gian, <br />
        Ba bãi tắm riêng tư như những ốc đảo giữa vịnh trời, <br />
        Nơi thiên nhiên trở thành một phần cuộc sống.
    </h2>
</div>
