<div class="container">
    <div id="video-tvc" class="video-tvc" data-aos="fade-up" data-aos-duration="1000">
        <iframe
            data-aos="fade-up"
            data-aos-duration="1000"
            id="video"
            src="//www.youtube.com/embed/6uQeaAAUe2k?enablejsapi=1&html5=1&mute=1"
            frameborder="0"
            allowfullscreen=""
            data-gtm-yt-inspected-10="true"
            class="aos-init aos-animate"
            title="CaraWorld - Sự trỗi dậy diệu kỳ của &quot;Viên kim cương 800 Cara&quot;"
        ></iframe>
    </div>
</div>
