<div class="home-heading" data-aos="fade-down" data-aos-duration="200">
    <h1 class="heading-hidden">Đất tiên vịnh ngọc</h1>
    <img src="./images/home/text-bds-duthuyen.png" alt="Đất tiên vịnh ngọc">
    <h2>
        Một không gian sống dành cho những tâm hồn ưa khám phá,<br>
        Và tinh thần tự do du ngoạn trở thành bản sắc của cộng đồng La Tiên Villa.
    </h2>
</div>