<div class="tn-dochoa">
    {% include './tn-heading-child.twig' with {
        headingchild_top: 'Cảnh quan thiên nhiên',
        headingchild_img: './images/trainghiem/text-dochoa.png',
        headingchild_des: 'Biển xanh ôm lấy đường chân trời, cát trắng trải dài dưới nắng vàng óng ả. Những cung đường rực rỡ, thơm ngát bốn mùa hoa. Những tán lá xanh đan nhau trải dài bóng mát. Tất cả ôm trọn từng lối đi, tạo nên bầu không khí trong lành, bình yên và tĩnh tại. '
    } %}
</div>