<div class="tn-giauvanhoa">
    <div class="tn-heading">
        <h1 class="heading-hidden">Giàu văn hoá nghệ thuật</h1>
        <img
            data-aos="fade-up"
            data-aos-duration="1000"
            src="./images/trainghiem/text-giauvanhoa.png"
            alt="Giàu văn hoá nghệ thuật"
        />
    </div>
</div>