<div class="tn-giauthiennhien">
    <div class="tn-giauthiennhien__flower">
        <img
            src="./images/trainghiem/vonghoa.png"
            alt="Giàu thiên nhiên"
        />
    </div>
    <div class="tn-heading">
        <h1 class="heading-hidden">Giàu thiên nhiên</h1>
        <img
            data-aos="fade-up"
            data-aos-duration="1000"
            src="./images/trainghiem/text-giauthiennhien.png"
            alt="Giàu thiên nhiên"
        />
    </div>
</div>