<div class="tn-khoidauhanhtrinh">
    {% include './tn-heading-child.twig' with {
        headingchild_top: 'Nhà hàng Hispania - Nhà hàng Nhật Bản Shibui',
        headingchild_img: './images/trainghiem/text-khoidauhanhtrinh.png',
        headingchild_des: 'với tinh hoa mỹ vị từ xứ sở hoa anh đào hay bữa tiệc đậm chất Địa Trung Hải. Từng món ăn là một tác phẩm cân bằng giữa hương vị và nghệ thuật trình bày.'
    } %}
    <div class="tn-khoidauhanhtrinh__gsap">
        <div class="tn-khoidauhanhtrinh__slider">
            <div class="tn-khoidauhanhtrinh__slider-wrap" id="slider-khoidauhanhtrinh">
                <img src="./images/trainghiem/image-nhahang.png" alt="Nhà hàng Hispania - Nhà hàng Nhật Bản Shibui"/>
                <img src="./images/trainghiem/image-nhahang.png" alt="Nhà hàng Hispania - Nhà hàng Nhật Bản Shibui"/>
                <img src="./images/trainghiem/image-nhahang.png" alt="Nhà hàng Hispania - Nhà hàng Nhật Bản Shibui"/>
            </div>
        </div>
    </div>
    <div class="tn-khoidauhanhtrinh__denlong">
        <img src="./images/trainghiem/denlong.png" alt="Nhà hàng Hispania - Nhà hàng Nhật Bản Shibui"/>
    </div>
    <div class="tn-khoidauhanhtrinh__khunggo">
        <img class="desktop" src="./images/trainghiem/khunggo.png" alt="Nhà hàng Hispania - Nhà hàng Nhật Bản Shibui"/>
        <img class="mobile" src="./images/trainghiem/khunggo-mobile.png" alt="Nhà hàng Hispania - Nhà hàng Nhật Bản Shibui"/>
    </div>
    
</div>