<div class="tn-kyquan">
    {% include './tn-heading-child.twig' with {
        headingchild_top: 'Công viên Vạn San Đảo',
        headingchild_img: './images/trainghiem/text-kiquangdaiduong.png',
        headingchild_des: 'Quy mô lên đến 18ha, quy tụ 121 loài san hô quý và 81 hệ thực vật biển, minh chứng cho chất lượng nước biển và tâm huyết bảo tồn của những người kiến tạo.'
    } %}
</div>