<div class="tn-niemtuhao">
    {% include './tn-heading-child.twig' with {
        headingchild_top: 'Nhà hát Đó <br/> Show diễn Rối Mơ  <br/> & Chum Show',
        headingchild_img: './images/trainghiem/text-niemtuhao.png',
        headingchild_des: 'của người Nha Trang, tác phẩm nghệ thuật văn hóa bản địa phải xem khi tới Việt Nam. Nếu Rối Mơ dùng nghệ thuật rối nước cổ truyền khắc họa nhịp sống người Việt, thì Chum Show là vở giao hòa bản sắc giữa người Chăm, các dân tộc Tây Nguyên và dân tộc Kinh.'
    } %}
    <div class="tn-niemtuhao__slider">
        <div class="slider-rotate">
            <div class="slider-wrap" id="slider-niemtuhao">
                {% for i in 1..5 %}
                <img class="tn-niemtuhao__img" src="./images/trainghiem/image-kich.png" alt="bg-3"/>
                {% endfor %}
            </div>
            </div>
    </div>
</div>