<div class="tn-nethoangda">
    {% include './tn-heading-child.twig' with {
        headingchild_top: 'Hàng cây bao báp',
        headingchild_img: './images/trainghiem/text-nethoangda.png',
        headingchild_des: 'hiện hữu tại vịnh Ngọc. Những hàng cây tựa như những “người gác biển” thầm lặng, uy nghi, kết nối con người với sức sống mãnh liệt của thiên nhiên.'
    } %}
    {% include '../footer.twig' %}
</div>