<div class="tn-tohopganket">
    {% include './tn-heading-child.twig' with {
        headingchild_top: 'Quảng trường Văn hóa Trống Đồng',
        headingchild_img: './images/trainghiem/text-tohopganket.png',
        headingchild_des: 'mọi thế hệ, chào đón cả gia đình bước vào thế giới của những trải nghiệm: Hương cà phê ấm lan từ góc tiệm, tiếng cười trẻ thơ ở kidzone, nhịp tập sôi động trong phòng fitness và những câu chuyện lịch sử được gìn giữ nơi bảo tàng.'
    } %}
</div>