<div class="tn-vuatanhuong">
    {% include './tn-heading-child.twig' with {
        headingchild_top: 'Sân pickleball - Yacht Clubhouse',
        headingchild_img: './images/trainghiem/text-vuatanhuong.png',
        headingchild_des: 'vừa kết nối cùng những tâm hồn đồng điệu thông qua các hoạt động thể thao hay thư giãn.'
    } %}
</div>