@font-face {
  font-family: 'SVNSignatie';
  src: url('../fonts/SVNSignatie.eot') format('woff2'),
       url('../fonts/SVNSignatie.woff') format('woff'),
       url('../fonts/SVNSignatie.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
