@mixin center-left-transform {
  @apply absolute left-[50%] translate-x-[-50%];
}

@mixin before-after-content {
  @apply absolute content-[''];
}

@mixin transition($seconds) {
  -webkit-transition: all $seconds ease;
  -moz-transition: all $seconds ease;
  transition: all $seconds ease;
}
@mixin transition-delay($seconds) {
  -webkit-transition-delay: $seconds;
  -moz-transition-delay: $seconds;
  transition-delay: $seconds;
}

@mixin bg-gradient-green {
  background: linear-gradient(to right, #036639, #07502d);
}
