<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>La Tien Villa</title>
        <meta name="author" content="La Tien Villa" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />

        <meta name="description" content="Đất Tiên Vịnh Ngọc" />
        <meta itemprop="description" content="Đất Tiên Vịnh Ngọc" />
        <meta
            itemprop="image"
            content="https://latienvilla.vn/images/screenshot.jpg"
        />

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://latienvilla.vn/" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="La Tien Villa" />
        <meta property="og:description" content="Đất Tiên Vịnh Ngọc" />
        <meta
            property="og:image"
            content="https://latienvilla.vn/images/screenshot.jpg"
        />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:description" content="Đất Tiên Vịnh Ngọc" />
        <meta
            name="twitter:image"
            content="https://latienvilla.vn/images/screenshot.jpg"
        />

        <link rel="icon" type="image/png" href="/images/favicon.png" />

        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
        />

        <link rel="stylesheet" href="./libs/aos/aos.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"
        />

        <script defer src="app.js"></script>
        <script defer src="home.js"></script>
        <script defer src="loading.js"></script>
        <script defer src="common.js"></script>
        <script defer src="react.js"></script>
        <link href="css/app.css" rel="stylesheet" />

        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    "gtm.start": new Date().getTime(),
                    event: "gtm.js",
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != "dataLayer" ? "&l=" + l : "";
                j.async = true;
                j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", "GTM-PJLCLPZX");
        </script>
        <!-- End Google Tag Manager -->
    </head>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript
            ><iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-PJLCLPZX"
                height="0"
                width="0"
                style="display: none; visibility: hidden"
            ></iframe
        ></noscript>
        <!-- End Google Tag Manager (noscript) -->

        {% include "./loading.twig" %} 
        {% include "./toast.twig" %} 
        {# {% include "./popup.twig" %} #} 
        {% include "./noti.twig" %} 
        {# {% include "./social.twig" %} #} 
        {% block content %}{% endblock %} {% block jsPage
        %}{% endblock %}
    </body>
    <script src="./libs/jquery-3.7.1.min.js"></script>
    <script src="./libs/aos/aos.js"></script>
    <script src="./libs/slick/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script src="js/common.js"></script>
</html>
