<footer class="section7 footer">
    <ul class="footer__list">
        <li class="footer__item menu_click" link="giaithuong">
            <a href="#">
                <img src="./images/menu-game.png" alt="Chơi game" />
                <h4 class="footer__text">Chơi game</h4>
            </a>
        </li>
        <li class="footer__item menu_click" link="thele">
            <a href="#">
                <img src="./images/menu-document.png" alt="Quét QR" />
                <h4 class="footer__text">Thể lệ</h4>
            </a>
        </li>
        <li class="footer__item">
            <a href="tel:1800888606">
                <img src="./images/menu-phone.png" alt="Hỗ trợ" />
                <h4 class="footer__text">Hỗ trợ</h4>
            </a>
        </li>
        <li class="footer__item menu_click" link="livestream">
            <a href="#">
                <img src="./images/menu-live.png" alt="Livestream" />
                <h4 class="footer__text">Livestream</h4>
            </a>
        </li>
    </ul>
</footer>
