<header>

    <!-- Menu -->
    <div class="menu">
        <div class="menu__actions">
            <button class="btn-x-close" aria-label="Đóng"></button>
        </div>

        <ul class="menu__list">
            <li class="menu__item menu_click" link="trangchu">
                <a class="menu__link" href="/">Trang chủ</a>
            </li>
            <li class="menu__item menu_click" link="gioithieu">
                <a class="menu__link" href="/">Giới thiệu</a>
            </li>
            <li class="menu__item menu_click" link="giaithuong">
                <a class="menu__link" href="/">Giải thưởng</a>
            </li>
            <li class="menu__item menu_click" link="thele">
                <a class="menu__link" href="/">Thể lệ</a>
            </li>
            <li class="menu__item menu_click" link="huongdan">
                <a class="menu__link" href="/">Hướng dẫn tham gia</a>
            </li>
            <li class="menu__item menu_click" link="livestream">
                <a class="menu__link" href="/">Livestream</a>
            </li>
            <li class="menu__item menu_click" link="winners">
                <a class="menu__link" href="/">Bảng vàng</a>
            </li>
            <li class="menu__item menu_click" link="thuvientraogiai">
                <a class="menu__link" href="/">Thư viện trao giải</a>
            </li>
            <li class="menu__item menu_click" link="topagents">
                <a class="menu__link" href="/">Top đại lý</a>
            </li>
            <li class="menu__item menu_click" link="faqs">
                <a class="menu__link" href="/">Hỏi đáp</a>
            </li>
            <li class="menu__item menu_click" link="tintucthuvien">
                <a class="menu__link" href="/">Tin tức và thư viện</a>
            </li>
            <li class="menu__item menu_click" link="contact">
                <a class="menu__link" href="/">Liên hệ</a>
            </li>
        </ul>
    </div>
</header>
