.news-hero {
    // @apply mt-0 md:mt-[7%];
    .news__heading {
    }
    &__heading {
        @apply absolute w-full;
        @apply max-w-[60%] md:max-w-[56%];
        @apply top-[8%] md:top-[12%];
        @apply left-1/2 translate-x-[-50%];
        @apply text-white text-center;
        @apply pb-[3rem] text-[3rem] mb-[4rem];
    }
    &__conchim {
        @apply absolute w-full max-w-[38%] top-[-5%] left-[-10%];
    }
    &__cloud {
        
        @apply top-[3%];
    
    }
    &__cloud-1 {
        @apply absolute w-full max-w-[75%];
        // @apply translateX(-20%)
        opacity: 0;
    transform: translateX(-20%);
    transition: none;
        // animation: runTopBottom1 8s linear infinite;
    }

    @keyframes runTopBottom1 {
        0% {
            @apply top-[19%];
        }
        50% {
            @apply top-[20%];
        }
        100% {
            @apply top-[19%];
        }
    }
    &__cloud-2 {
        @apply absolute w-full max-w-[75%];
        // @apply translateX(20%)
        opacity: 0;
    transform: translateX(20%);
    transition: none;

        // animation: runTopBottom2 10s linear infinite;
    }

    @keyframes runTopBottom2 {
        0% {
            @apply top-[11%];
        }
        50% {
            @apply top-[12%];
        }
        100% {
            @apply top-[11%];
        }
    }
}
