{% set page_title = 'Check Source' %}
{% extends "../components/base.twig" %}

{% block content %}
<main>
    <!-- Hero Section -->
    <section class="hero-section">
        <div class="hero-content text-black flex flex-col items-center justify-center h-full">
            <h1 class="title-1">Quicksand</h1>
            <h1 class="title-2">RobotoCondensed</h1>
            <h1 class="title-3 ">BeautiqueRegular</h1>
            <h1 class="title-4 ">BeautiqueRegular</h1>
            <hr>
            <h1 class="font-Be-Vietnam-Pro text-3xl">Beautique Black</h1>
            <span class=" text-[3rem]">xxxxxx</span>
        </div>
    </section>
</main>
{% endblock %}
