{% set page_title = 'Home' %}
{% extends "../components/base.twig" %}

{% block content %}
{% set show_logo_white = false %}
{% set page = 'home' %}

{% include "../components/header.twig" %}
<main class="homepage">
    <div class="section-top">
        <section class="section">
            <div class="bg">
                <img class="desktop" src="./images/home/bg-1.jpg" alt="bg-1">
                <img class="mobile" src="./images/home/bg-1.jpg" alt="bg-1">
            </div>
            <div class="section-top">
                {% include "../components/homes/home-hero.twig" %}
            </div>
        </section>
        <section class="section">
            <div class="bg">
                <img class="desktop" src="./images/home/bg-2.jpg" alt="bg-1">
                <img class="mobile" src="./images/home/bg-2.jpg" alt="bg-1">
            </div>
            <div class="section-top">
                {% include "../components/homes/home-video-tvc.twig" %}
                {% include "../components/homes/home-ngoinhabiettho.twig" %}
            </div>
        </section>
        <section class="section">
            <div class="bg">
                <img class="desktop" src="./images/home/bg-3.jpg" alt="bg-1">
                <img class="mobile" src="./images/home/bg-3.jpg" alt="bg-1">
            </div>
            <div class="section-top">
                {% include "../components/homes/home-benduthuyen.twig" %}
                {% include "../components/homes/home-vanhoanghethuat.twig" %}
            </div>
        </section>
         <section class="section">
            <div class="bg">
                <img class="desktop" src="./images/home/bg-4.jpg" alt="bg-1">
                <img class="mobile" src="./images/home/bg-4.jpg" alt="bg-1">
            </div>
            <div class="section-top">
                {% include "../components/homes/home-dothiquocte.twig" %}
            </div>
        </section>
    </div>
    
</main>

{% endblock %}

{% block jsPage %}
    <script src="js/home.js"></script>
{% endblock %}

