{% set page_title = 'Home' %} {% extends "../components/base.twig" %} {% block
content %} {% set show_logo_white = false %} {% set page = 'home' %} {% include
"../components/header.twig" %}
<main class="homepage">
    
    <div>
    Home
    </div>
   
</main>

{% endblock %} {% block jsPage %}
<script src="js/home.js"></script>
{% endblock %}
