{% set page_title = 'Menu' %} {% extends "../components/base.twig" %} {% block
content %}
<main class="relative">
    <div class="bg absolute h-full w-full z-[1]">
        <img class="h-full w-full" src="./images/menu.png" alt="bg-1" />
    </div>
    <div class="menu_page container">
        <div class="menu_page__wrapper">
            <div class="menu_page__content">
                <div class="text-center">
                    <a
                        href="/"
                        class="logo max-w-[100px] md:max-w-[150px] mx-auto mb-[3rem] inline-block"
                    >
                        <img
                            class="w-full"
                            src="./images/logo.png"
                        />
                    </a>
                </div>
                <ul class="menu_page__list">
                    <li class="menu_page__item">
                        <a
                            href="/home.html"
                            class="menu_page__link"
                            target="_blank"
                        >
                            <div class="flex items-center gap-2">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M12 6v6l4 2"
                                    />
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M20 12a8 8 0 11-16 0 8 8 0 0116 0z"
                                    />
                                </svg>
                                Homepage
                            </div>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-6 w-6 text-gray-500"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M9 5l7 7-7 7"
                                />
                            </svg>
                        </a>
                    </li>
                    <li class="menu_page__item">
                        <a
                            href="/overview.html"
                            class="menu_page__link"
                            target="_blank"
                        >
                            <div class="flex items-center gap-2">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M12 6v6l4 2"
                                    />
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M20 12a8 8 0 11-16 0 8 8 0 0116 0z"
                                    />
                                </svg>
                                Tổng quan
                            </div>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-6 w-6 text-gray-500"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M9 5l7 7-7 7"
                                />
                            </svg>
                        </a>
                    </li>
                    <li class="menu_page__item">
                        <a
                            href="/news.html"
                            class="menu_page__link"
                            target="_blank"
                        >
                            <div class="flex items-center gap-2">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M12 6v6l4 2"
                                    />
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M20 12a8 8 0 11-16 0 8 8 0 0116 0z"
                                    />
                                </svg>
                                Tin tức
                            </div>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-6 w-6 text-gray-500"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M9 5l7 7-7 7"
                                />
                            </svg>
                        </a>
                    </li>
                    <li class="menu_page__item">
                        <a
                            href="/thuvien.html"
                            class="menu_page__link"
                            target="_blank"
                        >
                            <div class="flex items-center gap-2">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M12 6v6l4 2"
                                    />
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M20 12a8 8 0 11-16 0 8 8 0 0116 0z"
                                    />
                                </svg>
                                Thư viện
                            </div>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-6 w-6 text-gray-500"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M9 5l7 7-7 7"
                                />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
{% endblock %}
