{% set page_title = 'Test Layout' %} {% extends "../components/base.twig" %} {%
block content %}
<main>
    <div class="container">
        <div class="h-screen flex items-center justify-center">
           
        </div>

        <div class="h-screen bg-blue"></div>
     
    </div>
</main>
{% endblock %} {% block jsPage %}
<script src="js/news.js"></script>
{% endblock %}
