@use "../base/mixin" as *;

header {
    @apply z-[4] fixed md:relative w-full;
    @apply font-semibold;
    &.scrolled {
        .icon {
            @apply top-[3rem];
            @apply fixed;
        }
        .menu {
            @apply md:top-[7rem];
        }
    }
    &.active {
        @apply h-full md:h-auto;
        @apply z-[99];

        .toggle {
            @apply md:fixed;
        }
    }
    .icon {
        @apply absolute top-[6.6rem];
        @apply max-w-[3.6rem] w-full;
        @include transition(0.3s);
        img {
            @apply w-full;
        }
    }
    .logo-pc{
        @screen md {
            @apply max-w-[18.6rem];
            @apply left-[3.6rem];
            @apply top-[2.4rem];
        }
    }
    .toggle {
        @apply left-[2.8rem];
    }

    .logo {
        @apply right-[1.5rem];
    }

    .btn-x-close {
        @apply cursor-pointer;
        @apply w-[2.5rem] h-[2.5rem];
        border: none;
        cursor: pointer;
    }

    .btn-x-close::before,
    .btn-x-close::after {
        @apply absolute;
        content: "";
        @apply top-[50%];
        @apply left-[50%];
        @apply w-full h-[2px];
        @apply bg-black;
        transform-origin: center;
    }

    .btn-x-close::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .btn-x-close::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .menu-text-span {
        @apply inline-flex flex-col items-center;
        @apply cursor-pointer;
        @apply fixed md:static;
        @apply right-[20px] md:right-auto;
        @apply top-[15px] md:top-auto;
        @apply z-[3];
    }

    .text-menu {
        @apply md:cursor-auto;
        @apply font-medium;
        @apply text-[1.7rem] md:text-[1.07rem];
    }

    .hambergur {
        @apply flex flex-col items-end gap-1;
        span {
            @apply block w-[38px] md:w-[2.67rem] h-[2px] md:h-[0.13rem];
            @apply bg-white transition-all duration-300;
        }
    }
}

.menu {
    @apply z-[-1] md:z-[1];
    @apply text-white;
    @apply text-right;
    @apply w-[68%] md:w-[23rem];
    @apply h-full md:h-auto;
    @apply flex flex-col justify-center items-center;
    @apply md:gap-[1.5rem] md:top-[2.67rem];
    @apply md:right-[1.93rem];
    @apply fixed overflow-hidden;
    @apply md:px-0;
    @include transition(0.4s);
    @apply left-0;
    @apply top-0 md:top-[10.5rem];
    @apply translate-x-[-100%];
    @apply gap-[1.5rem];
    @apply md:rounded-[1rem];

    &.active {
        @apply translate-x-0;
        @apply z-[4];
        @apply left-0 md:left-[2.8rem];

        .menu__list {
            @apply visible z-[999] opacity-[1];
        }
        .menu__item {
            @apply translate-y-0 opacity-[1];
        }
    }
    &__actions {
        @apply flex z-[1000];
        @apply w-[85%] absolute right-[2rem] top-[2rem];
        @apply justify-between items-center;
        @apply flex md:hidden;
        .btn-x-close {
            @apply relative;
        }
        .logo {
            @apply static;
        }
    }
    &__list {
        @include transition(0.3s);
        @apply text-right;
        @apply right-0 md:right-0;
        @apply top-0 md:top-0;
        @apply flex flex-col;
        @apply w-full h-full top-0;
        @apply pt-[30%] md:py-[3%];

        &::before {
            @include before-after-content;
            @apply w-full h-full;
            @apply top-0 bottom-0;
            @apply bg-[#d4f7d1ed];
            @apply rounded-[1rem] rounded-tl-none rounded-bl-none md:rounded-none;
            @media (min-width: 768px) {
                box-shadow: 2px 6px 7px rgba(86, 140, 44, 0.568627451);
            }
        }
    }

    &__item {
        @apply list-none relative;
        @apply md:pr-[1.2rem];
        @apply py-[0.6rem] md:py-[0.7rem];
        @apply text-[1.8rem] md:text-[1.5rem];
        @apply text-left;
        @apply px-[2rem];

        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                @include transition(120ms * $i);
            }
        }
    }

    &__link {
        @apply text-black no-underline font-regular transition-all duration-300;
        &:hover,
        &.active {
            @apply underline;
        }
    }
}
