@use "../base/mixin" as *;

/* Popup overlay */
.noti {
  @apply fixed inset-0 flex items-center justify-center;
  @apply bg-black bg-opacity-50 z-50;
  @apply hidden;
  animation: fadeIn 0.5s ease-out forwards;
  &.active {
    @apply flex;
  }
  &-action {
    @apply text-center;
  }
  &-content {
    @apply bg-white p-6 rounded-lg shadow-lg max-w-md w-full;
    animation: scaleIn 0.5s ease-out forwards;
  }

  &-title {
    @apply text-xl font-bold mb-4;
  }

  &-message {
    @apply mb-4 text-[gray];
  }
}

.close-noti {
  @apply px-4 py-2 text-white rounded;
  @apply transition-all duration-300;
  @include bg-gradient-green;
}

/* Keyframes cho hiệu ứng fadeIn và scaleIn */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}
