<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{ page_title }}</title>
        <meta name="description" content="{{ page_title }}" />
        <meta name="keywords" content="{{ page_title }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="{{ page_title }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <link rel="stylesheet" href="./libs/slick/slick.css" />
        <link rel="stylesheet" href="./libs/slick/slick-theme.css" />
        <link rel="stylesheet" href="./libs/aos/aos.css" />
        <link rel="icon" href="./images/favicon.png" />

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
        />

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"
        />
    </head>

    <body>
        {# {% include "./loading.twig" %} #} 
        {% include "./toast.twig" %} 
        {% include "./popup.twig" %} 
        {% include "./noti.twig" %} 
        {# {% include "./social.twig" %}  #}
        {% block content %}{% endblock %}
    </body>
    <script src="./libs/jquery-3.7.1.min.js"></script>
    <script src="./libs/aos/aos.js"></script>
    <script src="./libs/slick/modernizr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.slick/1.5.5/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="js/common.js"></script>
    {% block jsPage %}{% endblock %}
</html>
