<div class="contact--form">
    <div class="contact--note">
        Vui lòng điền thông tin, đội ngũ tư vấn <br> sẽ liên hệ trong thời gian sớm nhất. 
    </div>
    <form>
        <div class="form-item">
            <label for="fullname" class="form-label">Họ và tên:</label>
            <input
                aria-hidden="false"
                name="fullname"
                class="fullname"
                type="text"
            />
        </div>
        <div class="form-item">
            <label for="fullname" class="form-label">Email:</label>
            <input
                aria-hidden="false"
                name="email"
                class="email"
                type="email"
            />
        </div>
        <div class="form-item">
            <label for="fullname" class="form-label">Số điện thoại:</label>
            <input
                aria-hidden="false"
                name="phone"
                class="phone"
                type="number"
            />
        </div>

        <div class="form-item">
            <label for="fullname" class="form-label">Yêu cầu tư vấn:</label>
            <input
                aria-hidden="false"
                name="consultation"
                class="consultation"
                type="text"
            />
        </div>
        <button class="submit btn" disabled="disabled" type="submit">
            Gửi
        </button>
    </form>
</div>
