<footer class="footer">
    <div class="footer__wrap">
    <div class="footer__left">
        <img src="./images/home/logo-white.png" alt="logo-white.png" />
    </div>
    <div class="footer__right">
        <div class="footer__top">
            <div class="footer__item">
                <figure class="image">
                  <img src="./images/home/footer-map.png" alt="Google Map" />
                </figure>
                <a class="text" href="/">Google Map</a>
            </div>
            <div class="footer__item">
                <figure class="image">
                  <img src="./images/home/footer-address.png" alt="VPBH Hà Nội: Số 16A Nguyễn Công Trứ, Phường Hai Bà Trưng, Thành phố Hà Nội" />
                </figure>
                <h3 class="text">VPBH Hà Nội: Số 16A Nguyễn Công Trứ, Phường Hai Bà Trưng, Thành phố Hà Nội</h3>
            </div>
            <div class="footer__item">
                <figure class="image">
                  <img src="./images/home/footer-address.png" alt="VPBH Hồ Chí Minh: Số 8 Trần Quý Kiên, Phường Bình Trưng, Thành phố Hồ Chí Minh" />
                </figure>
                <h3 class="text">VPBH Hồ Chí Minh: Số 8 Trần Quý Kiên, Phường Bình Trưng, Thành phố Hồ Chí Minh</h3>
            </div>
            <div class="footer__item">
                <figure class="image">
                  <img src="./images/home/footer-address.png" alt="VPBH Dự án: Khu vực Bãi Tiên, Khóm Đường Đệ, Phường Bắc Nha Trang, Tỉnh Khánh Hòa" />
                </figure>
                <h3 class="text">VPBH Dự án: Khu vực Bãi Tiên, Khóm Đường Đệ, Phường Bắc Nha Trang, Tỉnh Khánh Hòa</h3>
            </div>
        </div>
        <div class="footer__bottom">
          <p>*Mọi thông tin trong tài liệu này đúng tại thời điểm phát hành và có thể được điều chỉnh mà không cần thông báo trước. Thông số bản vẽ là tương đối. Thông số chính thức của từng căn sẽ được quy định tại văn bản ký kết giữa Chủ đầu tư và Khách hàng.</p>
          <p>*Tài liệu/bản vẽ mang tính chất tham khảo và sẽ được Chủ đầu tư cập nhật, điều chỉnh tại mỗi thời điểm cho từng khu vực để đảm bảo tối ưu các tiện ích sử dụng và phù hợp với thiết kế tổng thể dự án.</p>
        </div>
        </div>
    </div>
</footer>
