<header>
    <a href="/" class="logo">
        <img src="./images/home/logo-white.png" alt="La Tiên Villa Logo" />
    </a>
    <div class="hambergur">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="menu">
        <ul class="menu__list">
            <li class="menu__item">
                <a class="active menu__link" data-text="Trang chủ" href="/">Trang chủ</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" data-text="Trải nghiệm" href="/">Trải nghiệm</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" data-text="Tin tức thư viện" href="/">Tin tức thư viện</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" data-text="Sa bàn ảo" href="/">Sa bàn ảo</a>
            </li>
             <li class="menu__item">
                <a class="menu__link" data-text="Brochure" href="/">Brochure</a>
            </li>
        </ul>
    </div>
</header>
