<div class="loading-image">
    <img class="bird" src="./images/loading/bird.gif" alt="bird" />
    <img
        class="text-lost"
        src="./images/loading/lost-in-nature.png"
        alt="lost-in-nature"
    />
    <img class="tree tree-1" src="./images/loading/tree-1.png" alt="tree-1" />
    <img class="tree tree-2" src="./images/loading/tree-2.png" alt="tree-1" />
    <img class="tree tree-3" src="./images/loading/tree-3.png" alt="tree-1" />
    <img class="tree tree-4" src="./images/loading/tree-4.png" alt="tree-1" />

    <div class="center">
        <img class="cloud-1" src="./images/loading/cloud-1.png" alt="cloud-1" />
        <img
            class="center-img"
            src="./images/loading/center.png"
            alt="center"
        />
    </div>
    {#
    <img
        class="text-lasting"
        src="./images/loading/lasting-memory.png"
        alt="lasting-memory"
    />
    #}
    <img
        class="la-bay la-bay-1"
        src="./images/loading/la-bay-1.gif"
        alt="la-bay-1"
    />
    <img
        class="la-bay la-bay-2"
        src="./images/loading/la-bay-2.gif"
        alt="la-bay-2"
    />
    <img class="logo-end" src="./images/loading/logo-end.png" alt="title-end" />
    <img
        class="title-end"
        src="./images/loading/title-end.png"
        alt="title-end"
    />

    <div class="text-end">
        {#
        <img
            class="title-end"
            src="./images/loading/logo-title-end.png"
            alt="title-end"
        />
        #}

        <div class="des-end">
            <p>
                Bạn có từng mơ <br />
                Nơi đất Tiên giao hoà vịnh Ngọc<br />
                Những ngôi nhà thở nhịp thiên nhiên
            </p>
            <p class="my-3">
                Nghe rừng thủ thỉ<br />Nghe biển thầm thì
            </p>
            <p>
                Đủ sôi động để sống đời rực rỡ <br />Đủ
                yên bình để sống trọn riêng tư
            </p>
        </div>
        <div class="slogan-end">
            Nơi tự do bền vững <br />được xây bằng những ký ức khó phai
        </div>
    </div>
</div>

{#
<div class="timer">0.0s</div>
#}

<svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 35.2 35.2"
    width="20px"
    height="20px"
    class="audio-btn"
>
    <path
        class="audio-play"
        fill="currentColor"
        d="M9.1 17.2c.1-.4.4-.6.9-.6h2c.1 0 .2 0 .3-.1 1.3-1.1 2.7-2.2 4-3.4.2-.2.5-.3.8-.2.3.1.5.3.5.6V23.9c0 .2 0 .4-.1.6-.3.4-.7.4-1.1.2-.2-.1-.4-.3-.5-.4l-3.6-3s-.2-.1-.3-.1h-2c-.4 0-.6-.2-.8-.5v-3.4ZM26.2 18.9c0 2.4-.8 4.5-2.3 6.4-.3.3-.6.4-.9.3-.5-.2-.8-.7-.5-1.2 0 0 .1-.2.2-.2.3-.4.6-.9.9-1.3.4-.7.6-1.5.8-2.2.2-.9.2-1.7.1-2.6-.2-1.6-.8-3.1-1.9-4.4-.1-.1-.2-.3-.3-.4v-.4c.1-.5.7-.8 1.1-.6.1 0 .3.1.4.3 1 1.2 1.8 2.6 2.2 4.1.2.8.3 1.6.3 2.5Z"
    ></path>
    <path
        class="audio-play"
        fill="currentColor"
        d="M22.4 18.9c0 1.4-.4 2.6-1.2 3.7-.3.4-.8.5-1.2.1-.2-.2-.4-.5-.3-.8 0-.1.1-.3.2-.4.3-.5.5-.9.7-1.5.1-.6.2-1.1 0-1.7 0-.8-.4-1.5-.9-2.2-.4-.5 0-1.3.6-1.4.3 0 .5 0 .7.3.4.6.8 1.2 1 1.8.2.7.4 1.4.3 2.1Z"
    ></path>

    <path
        class="audio-pause"
        fill="currentColor"
        d="M9.1 17.2c.1-.4.4-.6.9-.6h2c.1 0 .2 0 .3-.1 1.3-1.1 2.7-2.2 4-3.4.2-.2.5-.3.8-.2.3.1.5.3.5.6V23.9c0 .2 0 .4-.1.6-.3.4-.7.4-1.1.2-.2-.1-.4-.3-.5-.4l-3.6-3s-.2-.1-.3-.1h-2c-.4 0-.6-.2-.8-.5v-3.4Z"
    ></path>
</svg>

<audio class="audio-media" autoplay="" loop="" style="display: none">
    <source src="./images/loading/audio.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
</audio>
