<div class="loading-image">
    <img class="bird" src="./images/loading/bird.gif" alt="bird" />
    <img
        class="text-lost"
        src="./images/loading/lost-in-nature.png"
        alt="lost-in-nature"
    />
    <img class="tree tree-1" src="./images/loading/tree-1.png" alt="tree-1" />
    <img class="tree tree-2" src="./images/loading/tree-2.png" alt="tree-1" />
    <img class="tree tree-3" src="./images/loading/tree-3.png" alt="tree-1" />
    <img class="tree tree-4" src="./images/loading/tree-4.png" alt="tree-1" />
    <img class="cloud-1" src="./images/loading/cloud-1.png" alt="cloud-1" />
    <img
        class="cloud-1-clone"
        src="./images/loading/cloud-1.png"
        alt="cloud-1"
    />
    <div class="center">
        <img class="" src="./images/loading/center.png" alt="center" />
    </div>
    <img
        class="text-lasting"
        src="./images/loading/lasting-memory.png"
        alt="lasting-memory"
    />
</div>

{#
<div class="timer">0.0s</div>
#}
