<div class="popup">
    <div class="popup-wrap">
        <!-- Modal content -->
        <div class="popup-content">
            <!-- Modal header -->
            <div class="popup-header">
                <button
                    type="button"
                    class="popup-close"
                    data-modal-hide="default-modal"
                >
                    <svg
                        fill="white"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:cc="http://creativecommons.org/ns#"
                        xmlns:dc="http://purl.org/dc/elements/1.1/"
                        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                        xmlns:svg="http://www.w3.org/2000/svg"
                        width="800px"
                        height="800px"
                        viewBox="0 0 6.3499998 6.3499998"
                        id="svg8"
                        version="1.1"
                    >
                        <defs id="defs2" />
                        <path
                            d="m 0.76367336,0.52734375 a 0.26460978,0.26460978 0 0 0 -0.15625,0.45312501 L 5.369142,5.7441405 A 0.26516504,0.26516504 0 1 0 5.7441421,5.3691407 L 0.98047024,0.60742188 A 0.26460978,0.26460978 0 0 0 0.76367336,0.52734375 Z"
                            id="path1855"
                        />
                        <path
                            d="M 5.5507827,0.52734375 A 0.26460978,0.26460978 0 0 0 5.369142,0.60742188 L 0.60742336,5.3691407 A 0.26460978,0.26460978 0 1 0 0.98047024,5.7441405 L 5.7441421,0.98046876 A 0.26460978,0.26460978 0 0 0 5.5507827,0.52734375 Z"
                            id="path1857"
                        />
                        <script xmlns="" />
                    </svg>
                    <span class="text">ĐÓNG</span>
                </button>
            </div>
            <!-- Modal body -->
            {% include "./homes/contact.twig" %}
        </div>
        {# popup success #} {% include "../components/toast.twig" %}
    </div>
</div>
