<div data-ani="news" class="news-hero" data-ani="fade-up" >
    {% include './news-heading.twig' with {
        heading_text: 'Bản Tin <br />Đất Tiên Vịnh Ngọc'
    } %}
    {% include "./news-slider.twig" %}
</div>
    