<div class="news-hero">
    <div class="news-hero__heading">
        <h1 class="heading-hidden">Cùng khám phá</h1>
        <img
            data-aos="fade-up"
            data-aos-duration="1000"
            src="./images/news/text-cungkhampha.png"
            alt="Cùng khám phá"
        />
    </div>
    <img
        class="news-hero__conchim"
        src="./images/news/conchim.gif"
        alt="Bất động sản nghệ thuật văn hoá"
    />
    <img
        class="news-hero__cloud news-hero__cloud-1"
        src="./images/news/cloud-1.png"
        alt="Bất động sản nghệ thuật văn hoá"
    />
    <img
        class="news-hero__cloud news-hero__cloud-2"
        src="./images/news/cloud-2.png"
        alt="Bất động sản nghệ thuật văn hoá"
    />
    <img
        class="news-hero__cloud news-hero__cloud-building"
        src="./images/news/cloud-build.png"
        alt="Bất động sản nghệ thuật văn hoá"
    />
    <div class="news__title">
        <h1 class="heading-hidden">Thông tin xoay quanh Đô thị vịnh đáng sống</h1>
        <img
            data-aos="fade-up"
            data-aos-duration="1000"
            src="./images/news/text-thongtinxoayquanh.png"
            alt="Cùng khám phá"
        />
    </div>
</div>

