
<div class="container">
    <div class="news__slider normal"> 
     <div class="item">
            <a class="link" href="/"></a>
            <img
                src="https://imagepasal.com/wp-content/uploads/2024/06/Shey-Phoksundo-Lake-image-pasal-2024-06-27-600x400.jpg"
                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang"
            />
            <h3 class="title">
            <span class="top"> 
                La Tiên Villa: Biệt thự ven biển <br />
                sang trọng tại Nha Trang 
                1 </span>
            </h3>
        </div>
        <div class="item">
            <a class="link" href="/"></a>
            <img
                src="https://demo.latienvilla.vn/assets/temp/c0eda4a05bc58b1dd5f9c6069b374bc0_1755782262.png"
                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang"
            />
            <h3 class="title">
            <span class="top"> 
                2 La Tiên Villa: Biệt thự ven biển <br />
                sang trọng tại Nha Trang 2
            </span>
            </h3>
        </div>
        {% for item in 0..3%}
            <div class="item">
                <a class="link" href="/"></a>
                <img src="./images/news/image-item.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                <h3 class="title">
                <span class="top"> {{item}} La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang</span>
                </h3>
            </div>
        {% endfor %}
    </div>
</div>