<div class="news-hero" data-aos="fade-up" data-aos-duration="1000">
    <div class="news__heading">
        <div class="ontop">Bản Tin <br />Đất Tiên Vịnh Ngọc</div>
    </div>
    {% include "./news-slider.twig" %}
</div>
    