<div data-ani="news" class="news-tailieu" data-ani="fade-up">
    {% include './news-heading.twig' with {
        heading_text: 'Tài liệu bán hàng'
    } %}
    {% include "./news-slider.twig" %}  
</div>