<div class="news-baochi" data-aos="fade-up" data-aos-duration="1000">
    <div class="news__heading">
        <span class="ontop">Báo chí nói gì về <br>La Tiên Villa?</span>
    </div>
    {% include "./news-slider.twig" %}  
</div>