<div class="news-noibat"  data-ani="fade-up">
    <div class="news__heading">
        <div class="ontop">
            Nội dung nổi bật khác
        </div>
    </div>
    {% include "./news-slider.twig" %}  
</div>