<div data-ani="news" class="news-donviphanphoi">
    {% include './news-heading.twig' with {
        heading_text: 'Đơn vị phân phối'
    } %}


    <div class="agency" data-aos="fade-up" data-aos-duration="1000">
            <div class="news__slider ">
                 {% for item in 0..2%}
                    {# <div class="slides"> #}
                        {# <div class="slides-wrap"> #}
                            <div class="slide">
                                <img src="./images/news/pp1.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            </div>
                            <div class="slide">
                                <img src="./images/news/pp2.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            </div>
                            <div class="slide">
                                <img src="./images/news/pp3.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            </div>
                            <div class="slide">
                                <img src="./images/news/pp4.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            </div>
                            <div class="slide">
                                <img src="./images/news/pp5.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            </div>
                            <div class="slide">
                                <img src="./images/news/pp6.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            </div>
                            <div class="slide">
                                <img src="./images/news/pp7.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            </div>
                            <div class="slide">
                                <img src="./images/news/pp8.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            </div>
                            <div class="slide">
                                <img src="./images/news/pp9.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            </div>
                        {# </div>
                    </div> #}
                 {% endfor %}
            </div>
    </div>

    <div class="news__slider donviphanphoi" data-aos="fade-up" data-aos-duration="1000">
    {% for item in 0..2%}
        <div class="donviphanphoi__slide">

            <div class="donviphanphoi__wrap">
                <div class="donviphanphoi__side">
                    <div class="donviphanphoi__group">
                        <h4 class="donviphanphoi__title">Liên minh</h4>
                        <div class="donviphanphoi__images">
                            <img src="./images/news/lm-minhan.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            <img src="./images/news/lm-adong.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            <img src="./images/news/lm-minhtam.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                        </div>
                    </div>
                    <div class="donviphanphoi__group">
                        <h4 class="donviphanphoi__title">Liên minh</h4>
                        <div class="donviphanphoi__images">
                            <img src="./images/news/lm-s9.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            <img src="./images/news/lm-sgstar.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                        </div>
                    </div>
                </div>
                <div class="donviphanphoi__side">
                    <div class="donviphanphoi__group">
                        <h4 class="donviphanphoi__title">Liên minh</h4>
                        <div class="donviphanphoi__images">
                            <img src="./images/news/lm-tpland.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            <img src="./images/news/lm-cas.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                        </div>
                    </div>
                    <div class="donviphanphoi__group">
                        <h4 class="donviphanphoi__title">Liên minh</h4>
                        <div class="donviphanphoi__images">
                            <img src="./images/news/lm-rjk.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            <img src="./images/news/lm-bam.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    {% endfor %}
    </div>

    
</div>