<div class="news-noibat" data-aos="fade-up" data-aos-duration="1000">
    <div class="news__heading">
        <div class="ontop">
            Nội dung nổi bật khác
        </div>
    </div>
    {% include "./news-slider.twig" %}  
</div>