<div class="news-baochi"  data-ani="fade-up">
    <div class="news__heading">
        <span class="ontop">Báo chí nói gì về <br>La Tiên Villa?</span>
    </div>
    {% include "./news-slider.twig" %}  
</div>