<div class="news-hero">
    <div class="news-hero__heading">
        <h1 class="heading-hidden">Cùng khám phá</h1>
        <img src="./images/news/text-cungkhampha.png" alt="Cùng khám phá" />
    </div>
    <img
        class="news-hero__conchim"
        src="./images/news/conchim.gif"
        alt="Bất động sản nghệ thuật văn hoá"
    />
    <img
        class="news-hero__cloud news-hero__cloud-1"
        src="./images/news/cloud-1.png"
        alt="Bất động sản nghệ thuật văn hoá"
    />
    <img
        class="news-hero__cloud news-hero__cloud-2"
        src="./images/news/cloud-2.png"
        alt="Bất động sản nghệ thuật văn hoá"
    />
        <h1 class="news__title">
            Thông tin xoay quanh <br />Đô thị vịnh đáng sống
        </h1>

    <img
        data-aos="fade-right" data-aos-duration="1000"
        class="cay-dua-trai-1"
        src="./images/news/cay-dua-trai.png"
        alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang"
    />
</div>

