<div data-ani="news" class="news-donviphanphoi">
    {% include './news-heading.twig' with {
        heading_text: 'Đơn vị phân phối'
    } %}
    <div class="news__slider donviphanphoi">
    {% for item in 0..2%}
        <div class="donviphanphoi__slide">
            <div class="donviphanphoi__group">
                <h4 class="donviphanphoi__title">Liên minh</h4>
                <div class="donviphanphoi__images">
                    <img src="./images/news/dvpp-minhan.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                    <img src="./images/news/dvpp-adongland.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                    <img src="./images/news/dvpp-minhtamland.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                </div>
            </div>
            <div class="donviphanphoi__group">
                <h4 class="donviphanphoi__title">Liên minh</h4>
                <div class="donviphanphoi__images">
                    <img src="./images/news/dvpp-rk.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                    <img src="./images/news/dvpp-bamland.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="agency" data-aos="fade-up" data-aos-duration="1000">
        <h4 class="donviphanphoi__title">Liên minh</h4>
            <div class="news__slider ">
                 {% for item in 0..2%}
                    <img src="./images/news/dvpp-1.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                    <img src="./images/news/dvpp-2.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                    <img src="./images/news/dvpp-3.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                    <img src="./images/news/dvpp-4.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                    <img src="./images/news/dvpp-5.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                    <img src="./images/news/dvpp-6.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                 {% endfor %}
            </div>
    </div>
</div>