<div data-ani="news" class="news-donviphanphoi">
    {% include './news-heading.twig' with {
    heading_text: 'Đơn vị phân phối'
    } %}


    <div class="agency" data-aos="fade-up" data-aos-duration="1000">
        <div class="news__slider">
            <div class="slide_wrap">
                <div class="slide">
                    <img src="./images/news/dvpp/pp1.png"
                        alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                </div>
                <div class="slide">
                    <img src="./images/news/dvpp/pp2.png"
                        alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                </div>
                <div class="slide">
                    <img src="./images/news/dvpp/pp3.png"
                        alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                </div>
                <div class="slide">
                    <img src="./images/news/dvpp/pp4.png"
                        alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                </div>
                <div class="slide">
                    <img src="./images/news/dvpp/pp5.png"
                        alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                </div>
                <div class="slide">
                    <img src="./images/news/dvpp/pp6.png"
                        alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                </div>
                <div class="slide">
                    <img src="./images/news/dvpp/pp7.png"
                        alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                </div>
                <div class="slide">
                    <img src="./images/news/dvpp/pp8.png"
                        alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                </div>
                <div class="slide">
                    <img src="./images/news/dvpp/pp9.png"
                        alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                </div>
            </div>
            <div class="slide_wrap">
                <div class="slide">
                    <img src="./images/news/dvpp/pp-slide-2-1.png"
                        alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                </div>
                <div class="slide">
                    <img src="./images/news/dvpp/pp-slide-2-2.png"
                        alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                </div>
                <div class="slide">
                    <img src="./images/news/dvpp/pp-slide-2-3.png"
                        alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                </div>
                <div class="slide">
                    <img src="./images/news/dvpp/pp-slide-2-4.png"
                        alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                </div>
                <div class="slide">
                    <img src="./images/news/dvpp/pp-slide-2-5.png"
                        alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                </div>
                <div class="slide">
                    <img src="./images/news/dvpp/pp-slide-2-6.png"
                        alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                </div>
                <div class="slide">
                    <img src="./images/news/dvpp/pp-slide-2-7.png"
                        alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                </div>
                <div class="slide">
                    <img src="./images/news/dvpp/pp-slide-2-8.png"
                        alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                </div>
                <div class="slide">
                    <img src="./images/news/dvpp/pp-slide-2-9.png"
                        alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                </div>
                <div class="slide">
                    <img src="./images/news/dvpp/pp-slide-2-10.png"
                        alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                </div>
            </div>
        </div>
    </div>

    <div class="news__slider donviphanphoi">
        <div class="donviphanphoi__slide">
            <div class="donviphanphoi__wrap">
                <div class="donviphanphoi__side">
                    <div class="donviphanphoi__group">
                        <h4 class="donviphanphoi__title">Liên minh</h4>
                        <div class="donviphanphoi__images">
                            <img src="./images/news/lm/lm-1/lm-minhan.png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            <img src="./images/news/lm/lm-1/lm-adong.png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            <img src="./images/news/lm/lm-1/lm-minhtam.png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                        </div>
                    </div>
                    <div class="donviphanphoi__group">
                        <h4 class="donviphanphoi__title">Liên minh</h4>
                        <div class="donviphanphoi__images">
                            <img src="./images/news/lm/lm-1/lm-s9.png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            <img src="./images/news/lm/lm-1/lm-sgstar.png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                        </div>
                    </div>
                </div>
                <div class="donviphanphoi__side">
                    <div class="donviphanphoi__group">
                        <h4 class="donviphanphoi__title">Liên minh</h4>
                        <div class="donviphanphoi__images">
                            <img src="./images/news/lm/lm-1/lm-tpland.png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            <img src="./images/news/lm/lm-1/lm-cas.png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                        </div>
                    </div>
                    <div class="donviphanphoi__group">
                        <h4 class="donviphanphoi__title">Liên minh</h4>
                        <div class="donviphanphoi__images">
                            <img src="./images/news/lm/lm-1/lm-rjk.png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            <img src="./images/news/lm/lm-1/lm-bam.png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="donviphanphoi__slide">
            <div class="donviphanphoi__wrap">
                <div class="donviphanphoi__side">
                    <div class="donviphanphoi__group">
                        <h4 class="donviphanphoi__title">Liên minh</h4>
                        <div class="donviphanphoi__images">
                            <img src="./images/news/lm/lm-2/lm-2 (1).png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            <img src="./images/news/lm/lm-2/lm-2 (2).png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                        </div>
                    </div>
                    <div class="donviphanphoi__group">
                        <h4 class="donviphanphoi__title">Liên minh</h4>
                        <div class="donviphanphoi__images">
                            <img src="./images/news/lm/lm-2/lm-2 (3).png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            <img src="./images/news/lm/lm-2/lm-2 (4).png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                        </div>
                    </div>
                </div>
                <div class="donviphanphoi__side">
                    <div class="donviphanphoi__group">
                        <h4 class="donviphanphoi__title">Liên minh</h4>
                        <div class="donviphanphoi__images">
                            <img src="./images/news/lm/lm-2/lm-2 (5).png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            <img src="./images/news/lm/lm-2/lm-2 (6).png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                        </div>
                    </div>
                    <div class="donviphanphoi__group">
                        <h4 class="donviphanphoi__title">Liên minh</h4>
                        <div class="donviphanphoi__images">
                            <img src="./images/news/lm/lm-2/lm-2 (7).png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            <img src="./images/news/lm/lm-2/lm-2 (8).png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="donviphanphoi__slide">
            <div class="donviphanphoi__wrap">
                <div class="donviphanphoi__side">
                    <div class="donviphanphoi__group">
                        <h4 class="donviphanphoi__title">Liên minh</h4>
                        <div class="donviphanphoi__images">
                            <img src="./images/news/lm/lm-3/lm-3 (1).png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            <img src="./images/news/lm/lm-3/lm-3 (2).png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                        </div>
                    </div>
                    <div class="donviphanphoi__group">
                        <h4 class="donviphanphoi__title">Liên minh</h4>
                        <div class="donviphanphoi__images">
                            <img src="./images/news/lm/lm-3/lm-3 (3).png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            <img src="./images/news/lm/lm-3/lm-3 (4).png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                        </div>
                    </div>
                </div>
                <div class="donviphanphoi__side">
                    <div class="donviphanphoi__group">
                        <h4 class="donviphanphoi__title">Liên minh</h4>
                        <div class="donviphanphoi__images">
                            <img src="./images/news/lm/lm-3/lm-3 (5).png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            <img src="./images/news/lm/lm-3/lm-3 (6).png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                        </div>
                    </div>
                    <div class="donviphanphoi__group">
                        <h4 class="donviphanphoi__title">Liên minh</h4>
                        <div class="donviphanphoi__images">
                            <img src="./images/news/lm/lm-3/lm-3 (7).png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            <img src="./images/news/lm/lm-3/lm-3 (8).png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="donviphanphoi__slide">
            <div class="donviphanphoi__wrap">
                <div class="donviphanphoi__side">
                    <div class="donviphanphoi__group">
                        <h4 class="donviphanphoi__title">Liên minh</h4>
                        <div class="donviphanphoi__images">
                            <img src="./images/news/lm/lm-4/lm-4 (1).png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                            <img src="./images/news/lm/lm-4/lm-4 (2).png"
                                alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
