<div data-ani="news" class="news-baochi"  data-ani="fade-up">
    {% include './news-heading.twig' with {
        heading_text: 'Báo chí nói gì về <br>La Tiên Villa?'
    } %}
    {% include "./news-slider.twig" %}  
</div>