<div class="news-tailieu" data-ani="fade-up">
     <div class="news__heading">
        <div class="ontop">
            Tài liệu bán hàng
        </div>
    </div>
    {% include "./news-slider.twig" %}  
</div>