<div class="news-phaply" data-ani="fade-up">
     <div class="news__heading">
        <div class="ontop">
            Pháp lý/ Chính sách bán hàng
        </div>
    </div>
    {% include "./news-slider.twig" %}  
</div>