<div class="news-hero">
    <div class="news__heading">
        <div class="ontop">Bản Tin <br />Đất Tiên Vịnh Ngọc</div>
    </div>
    {% include "./news-slider.twig" %}
    <img class="cay-dua-phai" src="./images/news/cay-dua-phai.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
</div>
