
<div class="container">
    <div class="news__slider normal"> 
        {% for item in 0..4%}
            <div class="item">
                <a class="link" href="/"></a>
                <img src="./images/news/image-item.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                <h3 class="title">
                    La Tiên Villa: Biệt thự ven biển <br> sang trọng tại Nha Trang
                </h3>
            </div>
        {% endfor %}
    </div>
</div>