<div class="news-donviphanphoi">
    <div class="news__heading">
        Đơn vị phân phối
    </div>
    <div class="news__slider donviphanphoi">
    {% for item in 0..4%}
        <div class="donviphanphoi__slide">
            <div class="donviphanphoi__group">
                <h4 class="donviphanphoi__title">Liên minh Minh An Homes - Á Đông Land - Minh Tâm Land</h4>
                <div class="donviphanphoi__images">
                    <img src="./images/news/dvpp-minhan.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                    <img src="./images/news/dvpp-adongland.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                    <img src="./images/news/dvpp-minhtamland.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                </div>
            </div>
            <div class="donviphanphoi__group">
                <h4 class="donviphanphoi__title">Liên minh RJK - BamLand</h4>
                <div class="donviphanphoi__images">
                    <img src="./images/news/dvpp-rk.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                    <img src="./images/news/dvpp-bamland.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                </div>
            </div>
            <div class="donviphanphoi__group">
                <h4 class="donviphanphoi__title">Liên minh AZ Real -TechRealty</h4>
                <div class="donviphanphoi__images">
                    <img src="./images/news/dvpp-azreal.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                    <img src="./images/news/dvpp-techrealty.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <img class="cay-dua-trai" src="./images/news/cay-dua-trai.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
</div>