<div data-ani="news" class="news-noibat"  data-ani="fade-up">
    {% include './news-heading.twig' with {
        heading_text: 'Nội dung nổi bật khác'
    } %}
    {% include "./news-slider.twig" %}  
</div>