
<div class="container">
    <div class="news__slider normal"> 
        {% for item in 0..3%}
            <div class="item">
                <a class="link" href="/"></a>
                <img src="./images/news/image-item.png" alt="La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang">
                <h3 class="title">
                <span class="top"> {{item}} La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang La Tiên Villa: Biệt thự ven biển sang trọng tại Nha Trang</span>
                </h3>
            </div>
        {% endfor %}
    </div>
</div>