<div data-ani="news" class="news-phaply" data-ani="fade-up">
    {% include './news-heading.twig' with {
        heading_text: 'Pháp lý/ Chính sách bán hàng'
    } %}
    {% include "./news-slider.twig" %}  
</div>