<div class="news-hero" data-ani="fade-up" >
    <div class="news__heading">
        <div class="ontop">Bản Tin <br />Đất Tiên Vịnh Ngọc</div>
    </div>
    {% include "./news-slider.twig" %}
</div>
    