@use "../base/mixin" as *;

.contact--form {
  @apply max-w-[90%] md:max-w-[60%];
  @apply mr-auto md:mr-0 ml-auto md:ml-[23.5%];
  @apply mt-[6.2rem] md:mt-[5.3rem];
  @apply min-h-[30rem];
  @apply pt-[10rem] pb-[10rem];

  form {
    @apply flex flex-col items-center flex-wrap;
    @apply gap-[0.7rem] md:gap-[0.8rem];
    @apply mx-auto mb-[1.5rem];

    .form-item {
      @apply flex items-center w-full min-h-[4.5rem] md:min-h-[4rem];
      @apply max-w-[88%] mx-auto relative;
      @apply bg-[url('../images/popup-field-bg.png')] bg-no-repeat;
      background-size: 100% 100%;
      @apply rounded-[1rem];
      padding: 0.3rem 1rem;
    }
    label {
      @apply relative pl-[1.4rem] text-[#BC4724] italic;
      @apply text-[1.3rem] md:text-[1.2rem];
      &:before {
        @apply content-[''] absolute top-[16%] left-0;
        @apply w-[1rem] h-[1rem];
        @apply bg-[url('../images/popup-icon.png')] bg-no-repeat bg-cover;
      }
    }

    .submit {
      @apply border-none font-regular min-h-max;
      @apply text-[1.8rem] md:text-[1.2rem];
      @apply py-[0.5rem] md:py-[0.2rem] min-h-0 min-w-0;
      @apply px-[2.3rem] md:px-[1rem];
      @apply rounded-[10px] md:rounded-[0.6rem];
      @apply bg-[url('../images/popup-btn.png')] bg-no-repeat;
      background-size: 100% 100%;
    }

    @mixin fontsizeInputPlaceHolder {
      @apply text-[1.3rem] md:text-[1.2rem] text-[#BC4724];
    }

    input,
    select,
    textarea {
      @apply h-[2rem];
      @apply px-[1rem] 4k:px-[1.5rem] py-[0.33rem];
      @apply outline-none shadow-none font-medium;
      @include fontsizeInputPlaceHolder;
      @apply bg-[transparent] w-full flex-1;

      @mixin phd {
        @apply font-semibold;
      }

      &::-webkit-input-placeholder {
        @include phd;
        @include fontsizeInputPlaceHolder;
      }
      &::-moz-placeholder {
        @include phd;
        @include fontsizeInputPlaceHolder;
      }
      &:-ms-input-placeholder {
        @include phd;
        @include fontsizeInputPlaceHolder;
      }
      &:-moz-placeholder {
        @include phd;
        @include fontsizeInputPlaceHolder;
      }
    }

    input {
      @apply leading-[1.2];
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &[type="number"] {
        -moz-appearance: textfield;
      }
    }

    textarea {
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-repeat: no-repeat;
      background-position-x: 95%;
      background-position-y: 50%;
      background-size: 0.67rem;
      @apply bg-[length:3rem] md:bg-[length:1rem];

      &::-ms-expand {
        display: none;
      }
    }
  }

  .error {
    @apply text-[red] italic md:text-[75%];
    @apply absolute bottom-[-1.5rem];
  }
}

.contact--note {
  @apply text-[#8E210B] text-center;
  @apply text-[1.2rem];
  @apply w-full relative pb-[0.7rem] mb-[2rem] pt-[1rem] md:pt-0;
  &:before {
    @apply content-[''] absolute bottom-0 left-[50%] translate-x-[-50%] w-[62%] h-[1px];
    @apply bg-[url('../images/popup-field-line.png')] bg-no-repeat;
    background-size: 100% 100%;
  }
}
