@use "../base/mixin" as *;

header {
    @apply z-[4] static md:fixed w-full;
    @apply font-semibold;
    @apply flex items-center justify-center;
    @apply gap-[3rem];
    @apply md:mt-[2.3rem];
    transition: all 0.3s ease;

    .logo {
        @apply max-w-[10.5rem] w-full;
        @apply hidden md:block;
        transition: all 0.3s ease;
        &.active {
            @apply scale-[0.8] sm:scale-100 top-0;
        }
        img {
            @apply w-full;
        }
    }
    &.active{
        // @apply md:mt-[1.3rem];
        .menu__list{
            @apply text-[1.3rem]
        }
        .logo{
            @apply max-w-[8rem];
        }
        .menu__link{
                letter-spacing: 0.2rem;
        }
    }
}

