.menu {
    &__wrapper {
        @apply flex items-center justify-between;
    }
    &__list {
        @apply flex items-center justify-center;
        @apply gap-[2.67rem] md:gap-[3.8rem];
        @apply text-[1.7rem] md:text-[1.6rem];
        @apply font-medium;
        transition: all 0.3s ease;

    }
    &__item {
    }
    &__link {
        @apply text-white font-light;
        letter-spacing: 0.4rem;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        &.active {
            @apply font-bold;
        }
        &.active,
        &:hover {
            @apply font-bold;
        }
        &::after {
            content: attr(data-text);
            content: attr(data-text) / "";
            height: 0;
            visibility: hidden;
            overflow: hidden;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            pointer-events: none;
            @apply font-bold;
        }
    }
}
.hambergur {
    @media (max-width: 640px) {
        width: 40px;
        position: fixed;
        right: 15px;
        top: 15px;
        margin: 0;
        left: auto;
        transform: scale(0.8);
        @apply block z-[4];
    }

    @apply hidden z-[-1];

    span {
        background: #fff;
        transition: all 0.2s;
        display: block;
        width: 100%;
        height: 3px;
        margin: 0 0 5px;
    }
    &.open {
        z-index: 100;
        span {
            &:first-child {
                @apply rotate-[45deg];
                @apply origin-[10px];
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                @apply rotate-[-45deg];
                @apply origin-[8px];
            }
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.menu {
    @media (max-width: 640px) {
        // transition: all 0.3s ease;
        // opacity: 0;
        // z-index: -1;
        visibility: visible;
        @apply fixed flex-col w-full h-full top-0;
        ul{
            @apply flex-col;
            @apply pt-[30%]
        }
        li {
            -moz-transform: translateY(-40px);
            -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
            opacity: 0;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            transition: all 0.4s ease;
            &:nth-child(1) {
                -webkit-transition-delay: 100ms;
                transition-delay: 100ms;
            }
            &:nth-child(2) {
                -webkit-transition-delay: 200ms;
                transition-delay: 200ms;
            }
            &:nth-child(4) {
                -webkit-transition-delay: 300ms;
                transition-delay: 300ms;
            }
            &:nth-child(5) {
                -webkit-transition-delay: 400ms;
                transition-delay: 400ms;
            }

            &:nth-child(3) {
                @apply hidden;
                @apply fixed top-[8rem] left-[50%] translate-x-[-50%];
                .logo {
                    @apply max-w-[38rem];
                }
            }
        }
        a {
            @apply text-[2rem];
            letter-spacing: 0.2rem;
        }

        &.open {
            z-index: 99;
            opacity: 1;
            visibility: visible;
            @apply bg-[#000000bf];
            li {
                -moz-transform: translateY(0);
                -webkit-transform: translateY(0);
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
}
