@use "../base/mixin" as *;

.social {
  @apply fixed z-50;
  @apply right-[10px] md:right-[1.67rem];
  @apply top-[50%];
  @apply translate-y-[-50%];
  // @apply translate-x-[2rem];
  @apply flex flex-col gap-4;
  .hover-shape{
    @apply relative
  }
}

.social-item {
  @apply w-[2.67rem] h-[2.67rem];
  @apply relative flex items-center justify-center;
  // @apply rounded-full transition-all duration-300 overflow-hidden;

  &.social-360 {
    @apply rounded-none;
  }

  &.hover-shape {
    &:hover::before {
      @include before-after-content;
      @apply w-[130%] h-full bg-white opacity-30 transform rotate-45;
      animation: shine 0.5s linear;
    }
  }

  &.register {
    @apply mt-[1rem];
    @apply h-[15rem] w-[3rem];
    @apply text-[0.8rem];
    @apply ml-[-0.47rem];
    // @apply border-2 border-white  border-solid;
    // @apply font-semibold rounded-full text-white;
    // @apply flex items-center justify-center;
    // @apply uppercase tracking-wide transition-all duration-300;
    @apply relative overflow-hidden rounded-[2rem] cursor-pointer;
    // @apply rotate-[-90deg] origin-bottom;
    @apply bg-[url("../images/register.png")] bg-center;
    background-size: 100% 100%;

    span{
      @apply hidden
    }

    &::after {
      @include before-after-content;
      @apply top-0 left-[-100%] w-[200%] h-[200%];
      background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.6), transparent);
      transform: skewX(20deg) translateX(100%);
      animation: blink 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite;
      pointer-events: none;
    }
    @keyframes blink {
      0% {
        transform: skewX(20deg) translateX(100%);
      }
      100% {
        transform: skewX(20deg) translateX(-100%);
      }
    }

    .btn-text {
      @apply inline-block;
      transform: rotate(-0deg);
    }
  }
}

.social-phone{
  .number{
    @apply absolute top-[50%] translate-y-[-50%];
    @apply right-[115%];
    @apply bg-white text-center font-medium text-[#D5966F] rounded-[1rem];
    @apply py-[3px] px-[1rem];
    @apply w-[10rem] text-[1.1rem];
    @apply hidden;
    &.active {
      @apply block;
    }
  }
  .social-item{
    @apply cursor-pointer
  }
}

@keyframes shine {
  0% {
    left: -100%;
    top: -100%;
  }
  100% {
    left: 100%;
    top: 100%;
  }
}
