@use "./homes/home-common.scss" as *;
@use "./homes/home-hero.scss" as *;
@use "./homes/home-benduthuyen.scss" as *;
@use "./homes/home-videotvc.scss" as *;
@use "./homes/home-dothiquocte.scss" as *;
@use "./homes/home-ngoinhabiettho.scss" as *;
@use "./homes/home-vanhoanghethuat.scss" as *;

.homepage {
  .section {
    @apply relative overflow-hidden;
    &:nth-child(2){
      @apply overflow-visible
    }
  }
  .section-23 {
    @apply absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
}


