@use "./trainghiem/tn-diemhen.scss" as *;
@use "./trainghiem/tn-dochoa.scss" as *;
@use "./trainghiem/tn-giauthiennhien.scss" as *;
@use "./trainghiem/tn-giauvanhoa.scss" as *;
@use "./trainghiem/tn-kyquan.scss" as *;
@use "./trainghiem/tn-nethoangda.scss" as *;
@use "./trainghiem/tn-niemtuhao.scss" as *;
@use "./trainghiem/tn-tohopganket.scss" as *;
@use "./trainghiem/tn-vuatanhuong.scss" as *;
@use "./trainghiem/tn-khoidauhanhtrinh.scss" as *;

.text-grown-tn {
    @apply text-[#86470B];
}
.tn-heading {
    @apply absolute w-full;
    @apply left-1/2 translate-x-[-50%];
}
.tn-heading-child {
    @apply text-grown-tn absolute;
    @apply w-full max-w-[43%];
    @apply mx-auto flex flex-col justify-center;
    &__top {
        @apply text-center mx-auto max-w-[75%];
        @apply text-[2rem] md:text-[3.4rem];
        @apply leading-[1.33];
        @apply font-medium font-playfairDisplay;
    }
    &__center {
        @apply max-w-[81%] ml-[6rem];
        @apply mt-[-2rem] md:mt-[-3rem];
    }
    &__des {
        @apply text-center;
        @apply text-[0.76rem] md:text-[1.6rem];
        @apply md:mt-[-0.5rem];
        letter-spacing: 0.06rem;
        @apply leading-[1.4] font-inter font-light;
    }
    .hiding {
        @apply overflow-hidden opacity-0 invisible block h-0;
    }
}
.tn-may {
    @apply absolute z-[2];
    @keyframes mayAnimation {
        0% {
            transform: translateY(15px);
        }
        50% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(15px);
        }
    }
    &.may3-phai-1 {
        @apply right-[-27%] top-[43%];
        @apply max-w-[75%];
        transition: all 0.3s ease;
        animation: mayAnimation 4s linear infinite;
    }
    &.may3-trai-2 {
        @apply left-[-36%] top-[-12%];
        @apply max-w-[63%];
        transition: all 0.3s ease;
        animation: mayAnimation 4s linear infinite;
    }
    &.may4-phai-3 {
        @apply right-[-37%] top-[-6%];
        @apply max-w-[60%];
        transition: all 0.3s ease;
        animation: mayAnimation 5s linear infinite;
    }
    &.may6-phai-2 {
        @apply right-[-26%] top-[21%];
        @apply max-w-[48%];
        transition: all 0.3s ease;
        animation: mayAnimation 4s linear infinite;
    }
    &.may6-trai-1 {
        @apply left-[-34%] top-[35%];
        @apply max-w-[45%];
        transition: all 0.3s ease;
        animation: mayAnimation 8s linear infinite;
    }
}

.trainghiem {
    @apply overflow-hidden;
    .section {
        @apply relative;
        &:not(:first-child) {
            .bg {
                @apply md:translate-y-[-1px];
            }
        }
    }
    .may-phai-1 {
        @apply right-[-50%] md:right-[-29%] top-[28%] md:top-[42%];
    }
    .condieu {
        @apply absolute w-full z-[2];
        @apply max-w-[26%];
        @apply left-[5.8%] top-[18%] md:top-[9.6%];
    }
    .section3 {
        @apply bg-[#a6d2f4];
    }
    .section4 {
        @apply bg-[#008ec1];
    }
}

.tn-highlight {
    width: 76rem; /* chiều rộng ellipse */
    height: 15rem; /* chiều cao ellipse */
    position: absolute;
    top: 26%;
    left: 19%;
    transform: rotate(5deg); /* xoay nghiêng theo trống */
    border-radius: 50%;
    pointer-events: none;
    overflow: visible;
}

.drum-highlight {
    position: absolute;
    top: 26%;
    left: 19%;
    width: 76rem;
    height: 15rem;
    transform: rotate(5deg);
    pointer-events: none;
}
.sparkline {
    stroke-dasharray: 20 20;
    animation:
        dashmove 6s linear infinite,
        blink 2s ease-in-out infinite;
    filter: blur(3px);
}

@keyframes dashmove {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: -400;
    }
}

@keyframes blink {
    0%,
    100% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
}


.bg-1-trongdong {
    position: absolute;
    top: 25%;
    width: 63%;
    left: 19%;
    opacity: 0;
    transform: scale(0.95) rotateX(10deg);
    filter: blur(2px);
    animation: glow3D 5s ease-in-out infinite;
}

@keyframes glow3D {
    0% {
        opacity: 0;
        transform: scale(0.95) rotateX(10deg);
        filter: blur(2px);
    }
    50% {
        opacity: 1;
        transform: scale(1) rotateX(0deg);
        filter: blur(0px);
    }
    100% {
        opacity: 0;
        transform: scale(0.95) rotateX(10deg);
        filter: blur(2px);
    }
}
.section1-bg-1{
    @apply absolute;
    @apply w-[90%] h-[96%] left-[6%] top-[11%] md:top-0;
}